<!-- from bs4 import BeautifulSoup -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <title>Savour | Dashboard</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: rgb(80, 78, 78);">
        <a class="navbar-brand" href="#">
            <img src="{% static 'savour_app/img/logo?.png' %}" width="40" height="40" alt="">
            SAVOUR
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/savour/dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Welcome, {{request.session.first_name}}! </h1><br>
        </div>
        <p></p>
        <!-- FORM for recipe below -->
        <form action="/savour/generate/lists" method="POST">
            {% csrf_token %}
            <div class="input-group input-group-lg" style="width: 70%; margin-left: 195px">
                <input type="text" name= "url" class="form-control" placeholder="Enter your recipe link" aria-label="recipe" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" id="button-addon2">Generate</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card text-center bg-transparent" style="width: 15rem; display: inline-block; margin-left: 190px; padding: 5px;">
        <img src="{% static 'savour_app/img/recipes3.png' %}" height="200" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="/savour/recipes" class="btn btn-success btn-lg">Recipes</a>
        </div>
    </div>
    <div class="card text-center" style="width: 15rem; display: inline-block; margin-left: 20px; padding: 5px;">
        <img src="{% static 'savour_app/img/fave.png' %}" height="200" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="/savour/favorites" class="btn btn-success btn-lg">Favorites</a>
        </div>
    </div>
    <div class="card text-center" style="width: 15rem; display: inline-block; margin-left: 20px; padding: 5px;">
        <img src="{% static 'savour_app/img/list1.jpg' %}" height="200" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="/savour/list" class="btn btn-success btn-lg">Grocery List</a>
        </div>
    </div>        
    <div class="card text-center" style="width: 15rem; display: inline-block; margin-left: 20px; padding: 5px;">
        <img src="{% static 'savour_app/img/pantry3.png' %}" height="200" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="#" class="btn btn-success btn-lg">Pantry</a>
        </div>
    </div>  
    <!-- <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark" style="background-color: rgb(4, 209, 4);">
        <a class="navbar-brand" href="#"></a>
    </nav> -->
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>