<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <title>Recipes</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: rgb(80, 78, 78);">
        <a class="navbar-brand" href="/savour/dashboard">
            <img src="{% static 'savour_app/img/logo?.png' %}" width="40" height="40" alt="">
            SAVOUR
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/savour/dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" style="text-align: center">
        <div class="container">
            <h1 class="display-4">Find a recipe to use up your ingredients!</h1>
            <p class="lead">Based on the ingredients needed for the recipe you provided, here are other recipes you can
                make.</p>
        </div>
    </div> 
    <!-- jumbotron ends -->

    <div class= 'main' style="text-align: center">
        <div class="card bg-light mb-3"
            style="padding: 20px; max-width: 940px; display: inline-block; margin-left: 20px">
            
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{recipe.image}}" class="card-img"
                        alt="recipe image" style="display: inline-block; padding: 10px">
                </div>
                <div class="card-title" style='font-size: 24px; display: inline-block; padding: 20px'>Your recipe:
                        <small class="text-muted">{{recipe.title}}</small></div>
                <a href={{recipe.url}} class="btn btn-success btn-block">View Recipe</a>
            </div> 
        </div>
    </div>

    <h2 class="display-4" style='text-align:center;font-size: 30px'>You might also want to make:</h2>
    <div class="card bg-light" style="width: 35%; margin: 0 auto; overflow: hidden; padding: 10px 0; align-items: center;  ">
    <a href="/savour/recipes" class="btn btn-success">More Recipes!!!</a></div>

    <div class="card bg-light" style="width: 35%; margin: 0 auto; overflow: hidden; padding: 10px 0; align-items: center;  ">
        {% for recipe in output %}
        <img src="{{recipe.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="card-title">{{recipe.label}}</h1>
            <a href="{{recipe.url}}" class="btn btn-success">View Recipe</a>
        </div>
        {% endfor %}
    </div>

</body>

</html>